In [2]:
import sqlite3

In [39]:
conn = sqlite3.connect("messages_db.sqlite")
c = conn.cursor()

c.execute("SELECT name FROM sqlite_master WHERE type='table'")
print(c.fetchall())

[('messages',)]

In [40]:
c.execute("SELECT sql FROM sqlite_master WHERE type='table';")

for result in c.fetchall():
    print(result[0])

CREATE TABLE messages (
	id INTEGER PRIMARY KEY,
	handle TEXT NOT NULL,
	message TEXT NOT NULL
    )

In [46]:
c.execute("SELECT * FROM messages")
print(c.fetchall())

[(1, 'CL', 'hello'), (2, 'sam', 'cl shagua'), (3, 'sam', 'cl dashagua')]

In [19]:
class fool:
    def play():
        print("play")

In [20]:
g = fool()

In [44]:
def get_message_db():
    # if 'message_db' not in g:
    try:
        return g.message_db
    except:
        g.message_db = sqlite3.connect("msg_db.sqlite")
   
        cmd = \
        """
        CREATE TABLE IF NOT EXISTS messages (
        id INTEGER PRIMARY KEY,
        handle TEXT NOT NULL,
        message TEXT NOT NULL
        );
        """
        c = g.message_db.cursor()
        c.execute(cmd)

        return g.message_db

def insert_message(message, handle):
    db = get_message_db()
    c = db.cursor()
    current_row_number = (c.execute("SELECT COUNT(*) FROM messages")).fetchone()[0]
    current_row_number = str(current_row_number + 1)
    print (current_row_number)
    c.execute(f"INSERT INTO messages VALUES ({current_row_number},'{handle}','{message}')")
    db.commit()
    db.close()

In [45]:
insert_message('hello','CL')

1